<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="pt-br" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="pt-br" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="pt-br" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="pt-br" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{this.title}}</title>

  {{#if this.hasTgsOg}}

    <meta property="og:image" content="{{this.ogImage}}"/>
    <meta property="og:title" content="{{this.ogTitle}}"/>
    <meta property="og:description" content="{{this.ogDescription}}"/>
    <meta property="og:url" content="{{this.ogUrl}}"/>
    <meta property="og:site_name" content="{{this.ogSiteName}}"/>
    <meta property="og:type" content="{{this.ogType}}"/>

  {{/if}}

  <meta name="keywords" content="">
  <meta name="description" content="">

  <link rel="stylesheet" href="assets/css/style.min.css">

</head>
<body>

	{% body %}

	<script src="assets/js/app.min.js"></script>

</body>
</html>
